/* -------------------------------------------------------------------------- */
/*                                  print.css                                 */
/* -------------------------------------------------------------------------- */
/*                            Author: Archie Adams                            */
/* -------------------------------------------------------------------------- */
/*                 Styling for when the site is being printed.                */
/* -------------------------------------------------------------------------- */

@page {
  size: landscape;
  margin: 20px;
}

li {
  break-inside: avoid;
}

.up,
.down,
li p,
header div,
.addButtons,
.colourButtons,
footer,
#introduction {
  display: none;
}

/* Key colours are background gradients, disabled for printing by browsers */
/* by default. */
* {
  -webkit-print-color-adjust: exact;   /* Chrome, Safari */
  color-adjust: exact;                 /*Firefox*/
}