/* -------------------------------------------------------------------------- */
/*                                  site.css                                  */
/* -------------------------------------------------------------------------- */
/*                            Author: Archie Adams                            */
/* -------------------------------------------------------------------------- */
/*                Styling for the general objects on the site.                */
/* -------------------------------------------------------------------------- */

/* Header styling.*/
header {
  background-color: #b4b3bd;
  font-size: 48px;
  font-weight: 500;
}
header h1 {
  margin: 0;
}
header h2 {
  text-align: center;
}

.ulButtons ul {
  margin: 0;
  list-style-type: none; 
  text-align: center; 
  background-color: #b4b3bd;
}
.ulButtons ul li {
  display: inline;
}
.ulButtons ul li div {
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.ulButtons ul li label {
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin:0;
}


/* Main body styling */
html, body {
  margin: 0;
  padding: 0;
  background-color: #ffff;
}

.bodyStyle {
  width:1109px; 
  margin:0 auto;
}

#introduction{
  margin-bottom: 25px;
}
#introduction p {
  margin-bottom:5px;
}
#introduction hr {
  margin-top:10px;
  margin-bottom:7px;
}

/* Footer styling. */
footer {
  background-color: #b4b3bd; 
  margin-top: 20px; 
  margin-bottom: 0;
}

footer address {
  background-color: #b4b3bd; padding-top:20px; padding-bottom:20px;
}

.footer-div {
  width:960px;
  margin:0 auto; 
  background-color: #b4b3bd;
}

#to-top-button{
  margin-left:426px; 
  padding-top: 14px;
}
#to-top-input {
  width: 110px;
}

.protectFooter {
  clear:both;
}

/* Heading styling. */
h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 48px;
  font-weight: 500;
}
h2 {
  font-size: 24px;
  margin-bottom: 7px;
}
h3 {
  font-size: 20px;
}
li span {
  font-size: 18px;
}
ol{
  list-style-type: none;
}

/* Font styling. */
* {
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 14px;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.semibold {
  font-weight: 600;
}

.up               { margin-left:20px; }
.up, .down        { cursor: pointer; }
.up:after         { content: '△'; }
.up:hover:after   { content: '▲'; }
.down:after       { content: '▽'; }
.down:hover:after { content: '▼'; }

.hidden {
  display: none;
}

.sectionDivider {
  margin-bottom: 15px;
}