.header {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    .keyboard-templates {
        display: flex;
        gap: 1rem;
    }

    #selectFile {
        display: none;
    }

    .load-file {
        background-color: #eeee;
        border: 1px solid black;
    }
}